.create-tasks {
    padding: .5rem;
    /* text-align: right; */
  }
  
  .ct-item {
    margin: .5rem;
  }
  
  .container {
    padding: .5rem;
    margin-top: -1rem;
  }
  
  .actions {
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .action {
    margin: .5rem;
  }
  
  .task {
    border: 1px solid green;
    padding: .5rem;
    margin: .5rem;
    position: relative;
  }
  
  .subject {
    font-size: 24px;
  }
  
  .status {
    font-size: 14px;
    color: green;
  }